{
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module"
  },
  "extends": [
    "airbnb",
    "prettier",
    "prettier/react"
  ],
  "globals": {
    "ENV": true
  },
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ],
    "react/forbid-prop-types": [
      "error", {
        "forbid": ["any"]
      }
    ],
    "prettier/prettier": [
      "error",
      {
        "printWidth": 100,
        "tabWidth": 4,
        "useTabs": false,
        "semi": false,
        "singleQuote": true,
        "trailingComma": "all",
        "bracketSpacing": true,
        "jsxBracketSameLine": false,
        "arrowParens": "avoid"
      }
    ],
    "import/no-unresolved": [
      "error",
      {
        "ignore": [
          "Services/",
          "Components/",
          "Containers/",
          "Constants/",
          "Config",
          "Actions/"
        ]
      }
    ],
    "arrow-body-style": "off",
    "global-require": "off",
    "class-methods-use-this": "off",
    "import/prefer-default-export": "off"
  },
  "plugins": [
    "prettier"
  ]
}
